<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta name="msvalidate.01" content="1FF35D27C3213B65CBEA71241AA7F9DE" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="google-play-app" content="app-id=com.gohappy.mobileapp">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="meta-apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="shortcut icon" href="//m.shopping.friday.tw/favicon.ico" type="image/icon" />
  <link rel="apple-touch-icon" href="//m.shopping.friday.tw/static/images/for-ios-icon.png">
  <link href="//m.shopping.friday.tw/static/images/for-ios-icon.png" rel="icon" sizes="192x192" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <script src="https://tracking.shopping.friday.tw/static/js/channel/app.js" type="text/javascript"></script>

  <!-- friday component -->
  <link rel="stylesheet" href="https://event.shopping.friday.tw/event/CP/friday_component/css/_iconfont.css">
  <link rel="stylesheet" href="https://event.shopping.friday.tw/event/CP/friday_component/css/app.css">
  <script src="https://event.shopping.friday.tw/event/CP/friday_component/js/bundle.js"></script>

  <!-- Google Tag Manager -->
  <script>if(!/(lighthouse|googlebot)/i.test(navigator.userAgent)){(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TLQV3J');}</script>
  <!-- End Google Tag Manager -->

  <!-- remove on production-->
  <!-- <script src="https://libs.friday.tw/js/current/venraaspt.min.js"></script> -->
</head>

<body style="padding:0;margin:0;">
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>