$white: #ffffff;
$red: #f34f59;
$pomegranateapprox: #f5281e;
$black: #000000;
$mine-shaft: #3c3c3c;
$blue: #558fff;
$dodger-blue: #12a0f1;
$sliver: #adadad;
$alto: #e0e0e0;
$alabaster: #f9f9f9;
$black-haze: #f8f9f9;
$pippin: #ffe2e1;
$tusk: #f2f3c8;
$dustygray: #9b9b9b;
$tundora: #4c4c4c;
$silver1: #cccccc;
$concretesolid: #f2f2f2;
$SilverChalice: #aaaaaa;
$varden: #fff7dc;
$west-side: #ff900b;
$scorpion: #5c5c5c;
$gallery : #eeeeee;
$gray: #888888;
$grayapprox: #919191;
$redapprox: #f00000;
$torch-red: #ff004a;
$bridesmaid: #feeeee;
$boulder: #777777;
$tan-hide: #fb9f5e;
$elf-green: #069;
$fair-pink: #ffeeee;
$mine-shaft: #3f3f3f;
$heavy-metal: #353635;
$nobel: #b5b5b5;

$special: #60ba9a;
$fcoin: #ffaf00;
$background: #f4f4f4;
$noimg: #eaeff0;
$link: $blue;
$web_main: $mine-shaft;
$web_minor: $sliver;
$web_border: $alto;
$web_bg_hover: $alabaster;
$web_bg_hlight: $pippin;
$web_inputbox: $black-haze;
$bg_alert: $tusk;
$line: $alto;
